/* Bodies */
body.Lab {
  background-color: #906904;
  color: #111111;
}

body.Zoo {
  background-color: #098765;
  color: #010101;
  font-size: large;
  font-weight: bold;
}

body.Portfolio-Module {
  background-color: #12416872;
  color: #230405;
}

/* Main */
body.Main {
  background-color: #dacaba;
  color: #321c0ffe;
}

/* Other */
h1.Automated-h1 {
  text-align: center;
}

li.Automated-li {
  display: block;
}

li.Automated-li a {
  float: left;
  clear: left;
}
