* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}

section {
  background-color: rgba(10, 100, 197, 0.33);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 88%;
  max-width: 400px;
  background-color: rgb(42, 118, 100);
  border-radius: 4.8px;
  overflow: hidden;
  box-shadow: 1px 2px #aaa124;
}

.output {
  background-color: rgb(100, 160, 110);
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 37px;
  position: relative;
}

.all-buttons {
  color: #aaa124;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.each-button {
  border: 0.5px solid rgba(50, 120, 100, 0.67);
  display: inline-block;
  height: 82px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  cursor: pointer;
}

.each-button:hover {
  background-color: rgb(32, 54, 45);
}

.display1 {
  opacity: 0.6;
  font-size: 26px;
  height: 21;
  overflow: hidden;
}

.display2 {
  /* intentionally left blank */
}

.currentoperation {
  position: absolute;
  bottom: 0;
  font-size: 21px;
  opacity: 0.42;
}

.righthistory {
  padding: 150px;
  background-color: rgb(124, 241, 226);
  color: #000124;
  font-size: 1.1rem;
  border-radius: 36px;
  box-shadow: 0.4px 0.7px #aaa124;
  margin: 11px;
}

li {
  display: flex;
  list-style: none;
  border-bottom: 2px solid rgb(236, 116, 116);
}
