/* Bodies */
body.Zoo {
  background-color: #098765;
  color: #010101;
  font-size: large;
  font-weight: bold;
}

body.X {
  background-color: #11111111;
  color: #110;
  font-size: large;
}

/* Flex Boxes */
.Zoo {
  display: flex;
}

.ZooFlexBoxOutlined {
  border-top: 1px solid black;
  padding: 9px;
  margin-left: 10px;
  min-width: 18vw;
}

/* Main */
body.Main {
  background-color: #dabbaa;
  color: #0f0000;
}

/* Other */
h1.Automated-h1 {
  text-align: center;
}

li.Automated-li {
  display: block;
}

li.Automated-li a {
  float: left;
  clear: left;
}

table {
  border-collapse: collapse;
  margin: 24px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 360px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
  text-align: center;
}

thead tr {
  background: #009690;
  color: #ffffff;
  text-align: center;
}

td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #131313;
}

tbody tr:nth-of-type(even) {
  background: #f1f1f1;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009875;
}
